{% extends 'layouts/error.html' %}

{% block error_code %}
    500
{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid h-100 d-flex align-items-center justify-content-center">

        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="500">500</div>
            <p class="lead text-gray-800 mb-5">Server Error</p>
            <p class="text-gray-500 mb-0">It seems that the server has gone on vacation</p>
            <a href="#">&larr; Back to Dashboard</a>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}